.glow-card {
  --dark: hsl(260 18% 12%);
  --fg: white;

  --glow-sens: 30;
  --card-bg: linear-gradient(
    8deg,
    var(--dark) 75%,
    color-mix(in hsl, var(--dark), white 2.5%) 75.5%
  );
  --blend: soft-light;
  --glow-blend: plus-lighter;
  --glow-color: 40deg 80% 80%;
  --glow-boost: 0%;

  --pads: 40px;
  --color-sens: calc(var(--glow-sens) + 20);
  --pointer-°: 45deg;
  --pointer-d: 0;

  position: relative;
  isolation: isolate;
  border-radius: 1.2rem;
}

.glow-card::before,
.glow-card::after,
.glow-card > .glow {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: opacity 0.25s ease-out;
  z-index: -1;
}

.glow-card:not(:hover)::before,
.glow-card:not(:hover)::after,
.glow-card:not(:hover) > .glow {
  opacity: 0;
}

/* border mesh */
.glow-card::before {
  border: 1px solid transparent;
  background:
    linear-gradient(var(--card-bg)) padding-box,
    linear-gradient(#c299ff) border-box;
  opacity: calc((var(--pointer-d) - var(--color-sens)) / (100 - var(--color-sens)));
  mask-image: conic-gradient(
    from var(--pointer-°) at center,
    black 25%,
    transparent 40%,
    transparent 60%,
    black 75%
  );
}

/* glow */
.glow {
  inset: -30px;
  pointer-events: none;
  mask-image: conic-gradient(
    from var(--pointer-°) at center,
    black 3%,
    transparent 12%,
    transparent 88%,
    black 97%
  );
  opacity: calc((var(--pointer-d) - var(--glow-sens)) / (100 - var(--glow-sens)));
}

.glow::before {
  content: "";
  position: absolute;
  inset: 30px;
  border-radius: inherit;
  box-shadow:
    inset 0 0 0 1px hsl(var(--glow-color) / 80%),
    0 0 24px 6px hsl(var(--glow-color) / 35%);
}