.root { width: 100%; }

.frame {
  position: relative;
  /* aspect-ratio: 16 / 9; */
  /* border-radius: 14px; */
  overflow: hidden;
  /* background: #ffffff08; */
  background: transparent;
  /* user-select: none; */
}

.track {
  height: 100%;
  display: flex;
  transition: transform 260ms ease;
  will-change: transform;
}

@media (prefers-reduced-motion: reduce) {
  .track { transition: none; }
}

.slide {
  min-width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caption {
    color: #fff;
    background: #192133;
    border-radius: 0px;
    padding: 6px 10px;
    font-size: .75rem;
    position: absolute;
    bottom: -42px;
    left: 12px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 36px;
  height: 36px;
  border-radius: 999px;
  background: rgba(0,0,0,.45);
  color: white;
  cursor: pointer;
  line-height: 36px;
  font-size: 22px;

  display: none;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  pointer-events: auto;
  position: relative;
  padding: 12px 8px 0px;
  margin-top: 50px;
}

.dot {
    border: 1px solid var(--color-border);
    cursor: pointer;
    opacity: .6;
    background: #ffffff;
    border-radius: 500px;
    width: 18px;
    height: 8px;

    transition: all .35s linear;
}

.dotActive {
  opacity: 1;
  width: 55px;
  /* border: 1px solid #ba25d1bd; */
}

/* .dotLabel {
  position: relative;
  white-space: nowrap;
  font-size: 12px;
  line-height: 100%;
  background: transparent;
  color: white;
  opacity: 1;
  pointer-events: none;
  transition: opacity 120ms ease;
} */

.dot:hover,
.dot:hover .dotLabel,
.dotActive .dotLabel {
  opacity: 1;
}