.terminal {
	color: #fff;
	background-color: #4d25eb45;
	border-radius: 0 0 7px 7px;
	left: -45px;
	width: 30%;
	height: clamp(220px, 30vh, 500px);
	align-self: center;
	padding: 10px;
	font-size: 1em;
	line-height: 1.2em;
	position: relative;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	/* animation: float 12s ease-in-out infinite; */
	z-index: 5;
	backdrop-filter: blur(2px);
}

.terminal::before {
  border-radius: 7px 7px 0 0;
  position: absolute;
  content: attr(data-content);
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  padding: 0 80px;
  white-space: nowrap;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #4c3436;
  font-size: 1em;
  background: linear-gradient(0deg, #d8d8d8, #ececec);
  top: -25px;
  left: 0;
  font-family: "PT Sans", sans-serif;
}

.terminal::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 10px;
  width: 12px;
  height: 12px;
  background: #f95c5b;
  border-radius: 100%;
  box-shadow:
    0 0 0 1px #da3d42,
    22px 0 0 0 #fabe3b,
    22px 0 0 1px #ecb03e,
    44px 0 0 0 #38cd46,
    44px 0 0 1px #2eae32;
}

.terminal p {
  margin: 0;
}

.terminal p::before,
.terminal span span:first-child:before {
  color: #5ed7ff;
  content: "~$ ";
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}