.wrapper {
  position: relative;
  display: inline-block;
  /* isolation: isolate; */
  /* border-radius: 999px; */
}

/* clickable surface */
.link {
  position: relative;
  z-index: 2 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-sm)var(--space-xl);
  border-radius: var(--radius-md);
  /* background: var(--color-surface-alt); */
  color: var(--color-text-primary);
  text-decoration: none;
  font-size: .95rem;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  transition: transform 120ms linear;
}

.link:active {
  transform: scale(0.97);
}

.bg {
  position: absolute;
  inset: -1px;
  z-index: 1 !important;
  border-radius: var(--radius-md);
  background: var(--color-surface-alt);
  opacity: 1;
  transform: translateZ(0);
  transition: opacity 250ms linear;
}

/* animated gradient border / glow */
.glow {
  position: absolute;
  inset: -1px;
  z-index: 0 !important;
  border-radius: var(--radius-md);
  background: linear-gradient(90deg,#e651fd 0%,#ba25d1 30.43%,#2563eb 68.23%,#ba25d1 100%) 0 0/600% 600%;
  background-size: 600% 600%;
  animation: glowShift 8s ease infinite;
  
  /*transform: translateZ(0);*/
  
  transition: filter 150ms linear;
  filter: blur(12px);
  
  transform: translateZ(0) translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  height: 70%;
  width: 90%;
}

.wrapper:hover .bg {
  opacity: 0;
}

/* hover glow blur */
.wrapper:hover .glow {
  filter: blur(0px);
  height: 100%;
  width: 100%;
}

/* animation */
@keyframes glowShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* reduced motion */
@media (prefers-reduced-motion: reduce) {
  .glow {
    animation: none;
  }
  .link {
    transition: none;
  }
}