.root { width: 100%; }

.frame {
  position: relative;
  /* aspect-ratio: 16 / 9; */
  /* border-radius: 14px; */
  overflow: hidden;
  background: #ffffff08;
  /* user-select: none; */
}

.track {
  height: 100%;
  display: flex;
  transition: transform 260ms ease;
  will-change: transform;
}

@media (prefers-reduced-motion: reduce) {
  .track { transition: none; }
}

.slide {
  min-width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 36px;
  height: 36px;
  border-radius: 999px;
  background: rgba(0,0,0,.45);
  color: white;
  cursor: pointer;
  line-height: 36px;
  font-size: 22px;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
  position: absolute;
  left: 10px;
  right: 10px;
  display: flex;
  gap: 6px;
  justify-content: center;
  pointer-events: auto;
  transition: bottom 350ms ease-in-out;
}

.frame .dots{
  bottom: -30px;
}
.frame:hover .dots{
  bottom: 10px;
} 

.dot {
  width: fit-content;
  height: auto;
  border-radius: 999px;
  border: 1px solid var(--color-border);
  background: #192133;
  cursor: pointer;
  opacity: .8;
  padding: 4px 16px;

  transition: all 350ms linear;
}

.dotActive {
  opacity: 1;
  border: 1px solid #ba25d1bd;
}

.dotLabel {
  position: relative;
  white-space: nowrap;
  font-size: 12px;
  line-height: 100%;
  background: transparent;
  color: white;
  opacity: 1;
  pointer-events: none;
  transition: opacity 120ms ease;
}

.dot:hover .dotLabel,
.dotActive .dotLabel {
  opacity: 1;
}