.root { width: 100%; }

.frame {
  position: relative;
  /* aspect-ratio: 16 / 9; */
  /* border-radius: 14px; */
  overflow: hidden;
  background: #ffffff08;
  /* user-select: none; */
}

.track {
  height: 100%;
  display: flex;
  transition: transform 260ms ease;
  will-change: transform;
}

@media (prefers-reduced-motion: reduce) {
  .track { transition: none; }
}

.slide {
  min-width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  /* -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
  pointer-events: none; */
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 36px;
  height: 36px;
  border-radius: 999px;
  background: rgba(0,0,0,.45);
  color: white;
  cursor: pointer;
  line-height: 36px;
  font-size: 22px;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  gap: 6px;
  justify-content: center;
  pointer-events: auto;
}

.dot {
  width: fit-content;
  height: auto;
  border-radius: 999px;
  border: 1px solid var(--color-border);
  border: 0;
  background: #ffffff0a;
  cursor: pointer;
  opacity: .95;
  transition: all 350ms linear;
  -webkit-transition: all 350ms linear;
  -moz-transition: all 350ms linear;
  -ms-transition: all 350ms linear;
  -o-transition: all 350ms linear;
}

.dotActive {
  opacity: 1;
  border: 1px solid #ba25d1;
}

.dotLabel {
  position: relative;
  white-space: nowrap;
  font-size: 11px;
  line-height: 1;
  background: rgba(0,0,0,.6);
  color: white;
  opacity: 1;
  pointer-events: none;
  transition: opacity 120ms ease;
}

.dot:hover .dotLabel,
.dotActive .dotLabel {
  opacity: 1;
}