.cursor {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 9999;

  /* helps isolate paint/layout cost */
  contain: layout paint style;
  will-change: transform, opacity, background-color;

  transition: opacity 200ms ease, background-color 200ms ease, transform 80ms linear;
  opacity: 1;
  transform: translate3d(-9999px, -9999px, 0);
}

.cursorDot {
  width: 5px;
  height: 5px;
  border-radius: 999px;
  background-color: #ba25d1;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 10000;

  contain: layout paint style;
  will-change: transform, width, height, opacity;

  transition: opacity 200ms ease, transform 80ms linear, width 0.3s linear,
    height 0.3s linear;

  transform: translate3d(-9999px, -9999px, 0) translate3d(-50%, -50%, 0);
}

.hover {
  background-color: #ba25d1;
  opacity: 0.5;
}

.click {
  /* optional click effect */
  opacity: 0.7;
}

.dotActive {
  width: 30px;
  height: 30px;
  opacity: 0.5;

  /* now works because we set --x/--y in JS */
  transform: translate3d(var(--x, -9999px), var(--y, -9999px), 0)
    translate3d(-50%, -50%, 0) scale(1.4);
}

.particleContainer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  contain: paint;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background-color: #ba25d1;
  will-change: transform, opacity;
  transform: translate3d(0, 0, 0) scale(0.6);
  opacity: 0;
}

/* Optional: don't show custom cursor on coarse pointers */
@media (pointer: coarse) {
  .cursor,
  .cursorDot {
    display: none;
  }
}