.cardGlowBorder {
  /* optional sizing variables */
  --card-w: 500px;
  --card-h: 500px;

  padding: 1px;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(245, 245, 245, 0.2);
  position: relative;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.7);

  /* defaults so gradients don't break before first move */
  --mouse-x: 50%;
  --mouse-y: 50%;
}

.cardGlowBorder::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    500px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.8),
    transparent
  );
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}

.cardGlowBorder:hover::before {
  opacity: 1;
}

.cardMiddle {
  background: rgb(20, 20, 20);
  padding: 5px;
  border-radius: 10px;
}

.cardContent {
  height: var(--card-h);
  width: var(--card-w);
  border: 1px solid rgba(245, 245, 245, 0.2);
  border-radius: 5px;
  background-color: rgb(30, 30, 30);
  overflow: hidden;
  position: relative;
}

.cardContent::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(245, 245, 245, 0.07),
    transparent
  );
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.cardGlowBorder:hover .cardContent::before {
  opacity: 1;
}

/* accessibility */
@media (prefers-reduced-motion: reduce) {
  .cardGlowBorder::before,
  .cardContent::before {
    transition: none !important;
  }
}